{% extends "layout.html" %}
{% block content %}
<iframe src="https://www.youtube.com/embed/Sl48McISfnY?autoplay=1" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<!-- ======= Team Section ======= -->
    <section id="team" class="team">
      <div class="container">

        <div class="row">
          <div class="col-lg-4">
            <div class="section-title" data-aos="fade-right">
              <h2>Team</h2>
              <p>A hardworking team full of enthusiastic and environmentalist
                Green Warriors can accomplish anything when they work together. We
                are glad to have such a team.</p>
            </div>
          </div>
          <div class="col-lg-8">
            <div class="row">

              <div class="col-lg-6">
                <div class="member" data-aos="zoom-in" data-aos-delay="100">
                  <div class="pic"><img width="200" height="200" src="{{ url_for('static',filename='assets/img/team/team-1.jpg') }}" class="img-fluid" alt=""></div>
                  <div class="member-info">
                    <h4>Muhammad Abrar Zawad</h4>
                    <span>Chief Executive Officer</span>
                    <p>An Eco-Activist and our Administrative Executive</p>
                    <div class="social">
                      <a href=""><i class="ri-twitter-fill"></i></a>
                      <a href=""><i class="ri-facebook-fill"></i></a>
                      <a href=""><i class="ri-instagram-fill"></i></a>
                      <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-lg-6 mt-4 mt-lg-0">
                <div class="member" data-aos="zoom-in" data-aos-delay="200">
                  <div class="pic"><img src="{{ url_for('static', filename='assets/img/team/team-2.jpg') }}" class="img-fluid" alt=""></div>
                  <div class="member-info">
                    <h4>Mahee Al Mobasherin</h4>
                    <span>Chief Creative Officer</span>
                    <p>An environmentalist and our head of Creative field</p>
                    <div class="social">
                      <a href=""><i class="ri-twitter-fill"></i></a>
                      <a href=""><i class="ri-facebook-fill"></i></a>
                      <a href=""><i class="ri-instagram-fill"></i></a>
                      <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 mt-4"></div>
              <div class="col-lg-6 mt-4">
                <div class="member" data-aos="zoom-in" data-aos-delay="300">
                  <div class="pic"><img src="{{ url_for('static', filename='assets/img/team/team-3.jpg') }}" class="img-fluid" alt=""></div>
                  <div class="member-info">
                    <h4 id ='t'>Tanjim Zaman Khan</h4>
                    <span>Chief Technical Officer</span>
                    <p>A Green Warrior and our Technical Head</p>
                    <div class="social">
                      <a href=""><i class="ri-twitter-fill"></i></a>
                      <a href=""><i class="ri-facebook-fill"></i></a>
                      <a href=""><i class="ri-instagram-fill"></i></a>
                      <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-lg-6 mt-4">
                <!--div class="member" data-aos="zoom-in" data-aos-delay="400">
                  <div class="pic"><img src="static/assets/img/team/team-4.jpg" class="img-fluid" alt=""></div>
                  <div class="member-info">
                    <h4>Amanda Jepson</h4>
                    <span>Accountant</span>
                    <p>Dolorum tempora officiis odit laborum officiis et et accusamus</p>
                    <div class="social">
                      <a href=""><i class="ri-twitter-fill"></i></a>
                      <a href=""><i class="ri-facebook-fill"></i></a>
                      <a href=""><i class="ri-instagram-fill"></i></a>
                      <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                    </div>
                  </div>
                </div-->
              </div>

            </div>

          </div>
        </div>

      </div>
    </section><!-- End Team Section -->

<!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container">
        <div class="row">
          <div class="col-lg-4" data-aos="fade-right">
            <div class="section-title">
              <h2>Contact</h2>
              <p>For any query please leave a message we will contact you soon with your desired solution.</p>
            </div>
          </div>

          <div class="col-lg-8" data-aos="fade-up" data-aos-delay="100">
            <iframe style="border:0; width: 100%; height: 270px;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d228.22163868917175!2d90.41306390000004!3d23.763556099999995!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3755c7801aeeb41d%3A0x753bda7bc7ad5234!2sArif%20Store!5e0!3m2!1sen!2sbd!4v1610194182153!5m2!1sen!2sbd" frameborder="0" allowfullscreen></iframe>
            <div class="info mt-4">
              <i class="icofont-google-map"></i>
              <h4>Location:</h4>
              <p>30/1,Bagichertech, Wapda Road, West Rampura, Dhaka, BD</p>
            </div>
            <div class="row">
              <div class="col-lg-6 mt-4">
                <div class="info">
                  <i class="icofont-envelope"></i>
                  <h4>Email:</h4>
                  <p>ecoknowmebd@gmail.com</p>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="info w-100 mt-4">
                  <i class="icofont-phone"></i>
                  <h4>Call:</h4>
                  <p>+8801552350839</p>
                </div>
              </div>
            </div>
            <!-- FORM -->
            <form action="" method="post" role="form" class="php-email-form mt-4">
              {{ form.hidden_tag() }}
              <div class="form-row">
                <div class="col-md-6 form-group">
                  {{ form.name(class="form-control", id="name", placeholder="Your Name") }}
                  <!--input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                  <div class="validate"></div-->
                </div>
                <div class="col-md-6 form-group">
                  {% if form.email.errors %}
                    {{ form.email(class="form-control",id="email" ,placeholder="Your Email") }}
                    <div class="invalid-feedback">
                      {% for error in form.email.errors %}
                          <span>{{ error }}</span>
                      {% endfor %}
                    </div>
                  {% else %}
                    {{ form.email(class="form-control",id="email" ,placeholder="Your Email") }}
                  {% endif %}
                  <!--input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                  <div class="validate"></div-->
                </div>
              </div>
              <div class="form-group">
                {{ form.email(class="form-control" ,id="subject" ,placeholder="Subject") }}
                <!--input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                <div class="validate"></div-->
              </div>
              <div class="form-group">
                {{ form.message(class="form-control" ,placeholder="Message") }}
                <!--textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                <div class="validate"></div-->
              </div>
              <!--div class="mb-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div-->
              <div class="form-group">
              {{ form.submit(style="background-color:#009970",class='btn btn-outline-info') }}
            </div>
            </form>
          </div>
        </div>

      </div>
    </section><!-- End Contact Section -->
{% endblock content %}
